<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Mars Missions</title>
  <!-- since static files being served from styles, can specify which file from that directory. as opposed to /styles/styles.css -->
</head>
<body>
  <div class="container">
    <h1><%= mission.name %></h1>
    <img src="<%= mission.img %>" alt="<%= mission.name %>"> 
    
    <!--height='400' width='400'-->
    <p> Launch Date: <%= mission.launchDate %> </p>
    <p> Operator: <%= mission.operator %> </p>
    <p> Mission Type: <%= mission.missionType %> </p>
  
    <a href="/missions">Back to Missions Index</a>
  
  </div>
</body>
</html>